body {
  font-family: Tahoma;
}

#calendar {
  width: 100%;
}

#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  width: 100%;
}

#calendar li {
  float: left;
  display: block;
  width: 14.28571428571429%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 0 -1px -1px 0;
}

#calendar ul.weekdays {
  height: 40px;
  background: #333;
}

#calendar ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: white;
  font-size: 13px;
}

#calendar .days li {
  height: 180px;
}

#calendar .days li:hover {
  background: #eee;
}

#calendar .date {
  background: #333;
  color: white;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
  text-align: center;
  float: right;
}
